/* line 1, ../sass/reset-css.scss */
img {
  border-style: none;
}

/* line 2, ../sass/reset-css.scss */
input,
textarea,
select {
  color: #3c3e3e;
  vertical-align: middle;
  font: 100% Raleway, sans-serif;
}

/* line 9, ../sass/reset-css.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 16, ../sass/reset-css.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 21, ../sass/reset-css.scss */
blockquote, q {
  quotes: none;
}

/* line 22, ../sass/reset-css.scss */
q:before,
q:after {
  content: '';
}

/* line 24, ../sass/reset-css.scss */
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: initial;
}
/* line 27, ../sass/reset-css.scss */
a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 33, ../sass/reset-css.scss */
img {
  vertical-align: top;
}

/* line 34, ../sass/reset-css.scss */
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* line 38, ../sass/reset-css.scss */
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 43, ../sass/reset-css.scss */
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* line 48, ../sass/reset-css.scss */
button {
  border: 2px solid #444;
  text-transform: uppercase;
  padding: 9px 24px;
  background: none;
}

/* line 54, ../sass/reset-css.scss */
ul {
  list-style: none;
  padding: 0;
}
